<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="None">
    
    <<title>The Choi Lab</title>
    
    <!-- MAIN ORIGINAL PURE CSS style sheet!!!! -->
    <!--<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">-->
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <!-- <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> -->
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        
        <!-- ADD CUSTOM STYLESHEETS HERE -->
            <!-- main CSS -->
            <link rel="stylesheet" href="/css/choilab.css">
            <link rel="stylesheet" href="/css/pure-min.css">

            <!-- other custom CSS? -->
            
            
            <!-- Font awesome CSS -->
            <link rel="stylesheet" href="/css/all.css">
            
            <!-- Fonts: USE THIS TO ADD CUSTOM FONTS-->
            <!-- Open Sans has 300,400,600,700,800 weights available -->
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600" rel="stylesheet" type="text/css">
            <!-- Quicksand has 300,400,500,700 weights available -->
            <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Varela Round" rel="stylesheet" type="text/css">

        <!--<![endif]-->
        
      <!-- For enabling favicon -->
      {{ partial "favicon.html" . }}
      
</head>
